.shop-container {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  padding: 40px;
}
.pd-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 55px;
  grid-column-gap: 10px;
}
.cart-container {
  background-color: rgb(218, 218, 218);
  border-radius: 12px;
  margin-left: 20px;
  padding: 10px;
}
.cart-container > h4 {
  color: palevioletred;
  padding: 20px;
}
.choose-btn {
  padding: 20px;
}
.choose-btn button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid palevioletred;
  background-color: rgb(218, 218, 218);
  font-weight: 500;
  font-size: 18px;
}

.justOne img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid palevioletred;
}

.justOne {
  text-align: center;
  margin-top: 20px;
  border: 1px solid gray;
  margin: 20px;
  padding: 10px;
  border: 1px solid palevioletred;
  border-radius: 10px;
}

.not-allowed {
  /* pointer-events: auto !important; */
  cursor: not-allowed !important;
}
@media (max-width: 600px) {
  .pd-container {
    display: block;
  }
}
